{% extends 'base.html' %}
{% load custom_markdown %}

{% block content %}
<div id="container">
	<div class="pageHead" style="color:#5B5B5B">
		<h1>关于我</h1>
	</div>
	<hr>
	</hr>
	<div id="content" class="clearfix full" style="font-family:'Microsoft YaHei'">
		<h2 class="h2" style="color:#7B7B7B">联系方式</h2>
		<hr>
		</hr>
		<p>Email:donking0030@gmail.com</p>
		<p>新浪微博：<a href="http://weibo.com/u/5297618274/home">音缺丝挺</a></p>
		<p>知乎：<a href="https://www.zhihu.com/people/dong-dong-93-72-86">咚咚</a><p>
		<hr>
		</hr>
		<h2 class="h2" style="color:#7B7B7B">个人信息</h2>
		<hr>
		</hr>
		<p>占冬冬/男/1993</p>
		<p>本科/软件工程专业</p>
		<p>个人博客：<a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a></p>
		<p>Github：<a href="https://github.com/DongOP">https://github.com/DongOP</a></p>
		<p style="text-indent:36px">2014年3月至今就职于<a href="http://www.banbanwan.cn/index.html">深圳艺果网络科技有限公司</a>，任软件测试工程师一职，主要负责公司移动APP产品的测试，参与的项目有安卓桌面、游戏中心、联系人、文件管理等等。</p>
		<hr>
		</hr>
		<h2 class="h2" style="color:#6C6C6C">个人代码</h2>
		<hr>
		</hr>
		<p><a href="https://github.com/DongOP/Useful.git">若干测试脚本</a></p>
		<p><a href="https://github.com/DongOP/blog.git">Django博客</a></p>
		<blockquote>
		<p>已经走上自学Python开发之路...</p>
		</blockquote>
		<hr>
		</hr>
		<p>座右铭：1、业精于勤，荒于嬉</p>
		<p style="text-indent:62px">2、Life is short,i use python</p>
	</div>
</div>
{% endblock %}