<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>{% block title %} Dong Blog {% endblock %}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/monokai.css">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title" style="font-size:33px;color:white;font-family:'Helvetica'">Dong Blog</h1>
            <h2 class="brand-tagline" style="font-size:15px;color:#D0D0D0;font-family:'sans-serif';">业精于勤，荒于嬉<h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <li class="nav-item">
                        <a class="button-success pure-button" href="/" style="font-size:16px;color:#FFA042;font-family:'sans-serif';">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="http://127.0.0.1:8000/archives" style="font-size:16px;color:#FFA042;font-family:'sans-serif';">归档</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'about_me' %}" style="font-size:16px;color:#FFA042;font-family:'sans-serif';">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="https://github.com/DongOP" style="font-size:16px;color:#FFA042;font-family:'sans-serif';">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://weibo.com/u/5297618274/home" style="font-size:16px;color:#FFA042;font-family:'sans-serif';">Weibo</a>
                    </li>
                    <!--li>
                    <form class="pure-form" action="/search/" method="get">
                    <input class='pure-input-3-3' type='text' name='s' placeholder='search'>
                    </form>
                    </li-->
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="{% url 'about_me' %}" style="color:#9D9D9D">About Me</a></li>
                        <li><a href="https://github.com/DongOP" style="color:#9D9D9D">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>